<ion-header [translucent]="true">
  <ion-toolbar color="primar">
    <ion-title>
      Nubanko
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">

    <ion-item> <!--Criar item-->
      <ion-label position="floating"> <!--Texto da caixa de texto-->
        Login
      </ion-label>
      <ion-input [(ngModel)]="login"></ion-input> <!--Caixa de texto-->
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        Senha
      </ion-label>
      <ion-input type="password" [(ngModel)]="senha"></ion-input>
    </ion-item>

    <div>
      <ion-button color="primary" expand="block" (click)="validar()">
        Entrar
      </ion-button>
    </div>

    <div>
      {{mensagem}}
    </div>

  </div>
</ion-content>
