<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CALCULADORA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">

    <ion-item>
      <ion-label position="floating">
        1° Número
      </ion-label>
      <ion-input type="number" [(ngModel)]="num1"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        2° Número
      </ion-label>
      <ion-input type="number" [(ngModel)]="num2"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>
        Resultado=
      </ion-label>
      <p> {{ resposta }} </p>
    </ion-item>

    <div>
      <ion-button type="button" color="medium" expand="block" (click)="somar()">
        Somar
      </ion-button>
    </div>

    <div>
      <ion-button type="button" color="medium" expand="block" (click)="subtrair()">
        Subtrair
      </ion-button>
    </div>

    <div>
      <ion-button type="button" color="medium" expand="block" (click)="multiplicar()">
        Multiplicar
      </ion-button>
    </div>

    <div>
      <ion-button type="button" color="medium" expand="block"(click)="dividir()">
        Dividir
      </ion-button>
    </div>

  </div>

</ion-content>
